<%= form_with(model: redmine_scheduler_job, local: true) do |form| %>
  <% if redmine_scheduler_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(redmine_scheduler_job.errors.count, "error") %> Erros de validação:</h2>

      <ul>
        <% redmine_scheduler_job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset class="box tabular">
    <p>
      <%= form.label :description %>
      <%= form.text_field :description, :required => true, :size => "150" %>
    </p>

    <p>
      <%= form.label "Tipo" %>
      <%= form.select :kind, @jobTipos %>
    </p>

    <p>
      <%= form.label "Expressão de tempo" %>
      <%= form.text_field :time_expression, :required => true %>
    </p>

    <p>
      <%= form.label "Código a ser executado" %>
      <%= form.text_area :code_to_execute, cols: "50", rows: "20", :required => true %>
    </p>
    <p>
      <%= form.label "Ativo" %> 
      <%= form.check_box :active %> 
    </p>
    <p>
      <%= form.submit value: "#{form.object.new_record? ? 'Criar novo job' : 'Atualizar Job'}", class: "button" %>
    </p>
  </fieldset>
<% end %>
